<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="img">
		<img src="/home/v/Pictures/IMG_0084.jpg" alt="">
	</div>
	<div class="comment">
		<table>
			<tr>
				<th>ID</th>
				<th>Comment</th>
				<th>Sentiment</th>
			</tr>
			<tr>
				<td>1</td>
				<td><p>cai nay rat ngon</p></td>
				<td>Positive</td>
			</tr>
			<tr>
				<td>1</td>
				<td><p>cai nay rat ngon</p></td>
				<td>Positive</td>
			</tr>
		</table>
	</div>



	<form action = "/login" method = "post">
         
         <p>Enter Name:</p>
         <textarea name="name" style="width:600px; height:200px;">
			The cat was playing in the garden.
		</textarea>
         <!-- <input type = "text" name = "name" /> -->
         
         <p><input type = "submit" value = "submit" /></p>
    </form>
</body>
</html>